*.DS_Store*
.vscode
.claude

__pycache__/

.dev/
.exp/
.slurm/
.demo/

wandb/
tmp/
logs/
onnx/


assets/checkpoints/
assets/data/
assets/export_models/

applications/efficientvit_gazesam/models/pytorch
applications/efficientvit_gazesam/models/onnx
applications/efficientvit_gazesam/models/tensorrt
